* {
    background-color: darkgray;
}

h1 {
    color: red;
    text-align: right;
    margin-right: 250px;
    margin-top: 100px;
}

.imgcontainer p {
    text-align: center;
    margin-top: 0px;
    margin-right: 550px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 10%;
    justify-content: left;
    border-radius: 50%;
}

.imgcontainer img {
    float: left;
    margin-left: 450px;
    margin-right: 10px;
    margin-top: -100px;

}

.student-container {
    display: flex;
    justify-content: center;

    flex-direction: row;
}

.student-container div {
    margin: 10px;
    padding: 20px;
    width: 50%;
    height: 50%;
}

.student-container img {
    text-align: center;
    justify-content: center;

}

.student-container p {
    font-size: 20px;
    text-align: center;
}